/3.jpg
/3_what-is-deep-learning.png
/4.jpg
/6.jpg
/7.jpg
/8.jpg
/aslmodel.ipynb
/drawing.png
/mnist_program.py
/rock.jpg
/scissors.jpg
/Tensorflow Workshop Speaker Background.png
/test.py
/__pycache__